<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artplanet.myapp.dao.IArtistInfoRepository">

	<select id="readArtistInfo" resultType="com.artplanet.myapp.model.Artist_InfoVO">
		select *
		from artist_info
		where artist_no = #{artist_no}
	</select>

</mapper>