<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.artplanet.myapp.dao.IReviewRepository">

	<resultMap type="com.artplanet.myapp.model.Exhibition_InfoVO" id="exhibitionMap">
		<id property="exhibition_no" column="exhibition_no" />
		<id property="place_no" column="place_no"/>
		<id property="artist_no" column="artist_no"/>
		<id property="title" column="title"/>
		<id property="realm" column="realm"/>
		<id property="price" column="price"/>
		<id property="startDate" column="startDate"/>
		<id property="endDate" column="endDate"/>
		<id property="intro" column="intro"/>
		<id property="likeCount" column="likeCount"/>
		<id property="endYn" column="endYn"/>
		<id property="visitCount" column="visitCount"/>
	</resultMap>
	
	<resultMap type="com.artplanet.myapp.model.ReviewVO" id="reviewMap">
		<id property="review_no" column="review_no"/>
		<id property="id" column="id"/>
		<id property="exhibition_no" column="exhibition_no"/>
		<id property="writer_nickName" column="writer_nickName"/>
		<id property="review_title" column="review_title"/>
		<id property="review_content" column="review_content"/>
		<id property="writeDate" column="writeDate"/>
		<id property="modDate" column="modDate"/>
		<id property="readCount" column="readCount"/>
		<id property="deleteYn" column="deleteYn"/>
	</resultMap>
	
	<resultMap type="com.artplanet.myapp.model.ReviewImageVO" id="reviewImageMap">
		<id property="review_no" column="review_no"/>
		<id property="image_fileName" column="image_fileName"/>
		<id property="image_directory" column="image_directory"/>
		<id property="uuid" column="uuid"/>
	</resultMap>
	
	<resultMap type="com.artplanet.myapp.model.ReviewJoinExhibitionVO" id="ReviewJoinExhibitionVO">
		<collection property="exhibition" resultMap="exhibitionMap"/>
		<collection property="review" resultMap="reviewMap"/>
		<collection property="reviewImage" resultMap="reviewImageMap"/>
	</resultMap>

	<select id="getReviewList" resultType="com.artplanet.myapp.model.ReviewVO">
		<![CDATA[
			select * from review where review_no > 0 and deleteYn like 'N' order by review_no desc
		]]>
	</select>
	
	<select id="getListWithPaging" resultType="com.artplanet.myapp.model.ReviewVO">
		<![CDATA[
			select review_no, review_title, writer_nickName, writeDate, modDate, readCount
			from (
				select /*+INDEX_DESC(review pk_review)*/
				rownum rn, review_no, review_title, writer_nickName, writeDate, modDate, readCount
				from review
				where rownum <= #{pageNum} * #{amount} and deleteYn like 'N'
				)
			where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		<![CDATA[
			select count(*) from review where review_no > 0 and deleteYn like 'N'
		]]>
	</select>
	
	<insert id="insertReview">
		insert into review (review_no, id, exhibition_no,
		writer_nickName, review_title, review_content, writeDate, modDate, readCount)
		 values (review_no_seq.nextval,
		 #{id}, #{exhibition_no}, #{writer_nickName}, #{review_title}, #{review_content},
		 SYSDATE, SYSDATE, 0)
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="review_no" order="BEFORE" resultType="int">
			select review_no_seq.nextval from dual
		</selectKey>
		
		insert into review (
			review_no, id, exhibition_no,
			writer_nickName, review_title, review_content, writeDate, modDate, readCount
		)
		 values (
		 	#{review_no}, #{id}, #{exhibition_no}, #{writer_nickName},
		 	#{review_title}, #{review_content}, SYSDATE, SYSDATE, 0
		 )
	</insert>
	
	<select id="readReview" resultType="com.artplanet.myapp.model.ReviewVO">
		select * from review where review_no = #{review_no}
	</select>
	
	<update id="deleteReview">
		update review
		set deleteYn = 'Y'
		where review_no=#{review_no}
	</update>
	
	<update id="updateReview">
		update review
		set review_title=#{review_title},
		review_content=#{review_content},
		modDate=SYSDATE
		where review_no=#{review_no}
	</update>
	
	<update id="readCount">
		update review
		set readCount = readCount +1
		where review_no = #{review_no}
	</update>
	
	<select id="getReviewListWithPagingFindById" resultType="com.artplanet.myapp.model.ReviewVO">
		<![CDATA[
			select *
			from (
				select /*+INDEX_DESC(review pk_review)*/
				rownum rn, review.*
				from review
				where rownum <= #{cri.pageNum} * #{cri.amount} and id = #{id} and deleteYn LIKE 'N'
				)
			where rn > (#{cri.pageNum} -1) * #{cri.amount}
		]]>
	</select>
	
	<select id="readReviewJoinExhibition" resultMap="ReviewJoinExhibitionVO">
		select *
		  from review r, exhibition_info e, review_image ri
		 where r.exhibition_no = e.exhibition_no 
		 	   and r.review_no = ri.review_no(+)
		 	   and r.review_no = #{review_no}
	</select>

</mapper>